<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="index.css">

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div data-role="page" id="demo-page" data-url="demo-page">

    <!-- /header -->
    <div data-role="header">
        <h1>Weather App</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false"
           data-iconshadow="false">Setting</a>

    </div>

    <!-- /content -->
    <div role="main" class="ui-content">
        <div data-role="collapsible-set">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Monday</h3>

                <p>I'm the collapsible set content for section 1.</p>
            </div>

            <div data-role="collapsible">
                <h3>Tuesday</h3>

                <p>I'm the collapsible set content for section 2.</p>
            </div>

            <div data-role="collapsible">
                <h3>Wednesday</h3>

                <p>I'm the collapsible set content for section 1.</p>
            </div>

            <div data-role="collapsible">
                <h3>Thursday</h3>

                <p>I'm the collapsible set content for section 2.</p>
            </div>

            <div data-role="collapsible">
                <h3>Friday</h3>

                <p>I'm the collapsible set content for section 1.</p>
            </div>

            <div data-role="collapsible">
                <h3>Saturday</h3>

                <p>I'm the collapsible set content for section 2.</p>
            </div>

            <div data-role="collapsible">
                <h3>Sunday</h3>

                <p>I'm the collapsible set content for section 1.</p>
            </div>
            <p><a href="#right-panel" data-role="button" data-inline="true" data-mini="true"
                  data-shadow="false">Share</a></p>

        </div>
    </div>

    <!--Left Panel-->
    <div data-role="panel" id="left-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li data-role="list-divider">Menu</li>
        </ul>
        <div data-role="collapsible" data-inset="false" data-iconpos="right" data-content-theme="d">
            <h3>Gear Categories</h3>

            <div data-role="collapsible-set" data-inset="false" data-iconpos="right"
                 data-content-theme="d">
                <div data-role="collapsible">
                    <h3>Tops</h3>
                    <ul data-role="listview">
                        <li>
                            <text>Red Top</text>
                        </li>
                        <li>
                            <text>T-shirt</text>
                        </li>
                        <li>
                            <text>Blue Top</text>
                        </li>
                        <li>
                            <text>Yellow Top</text>
                        </li>
                    </ul>
                </div>
                <!-- /collapsible -->
                <div data-role="collapsible">
                    <h3>Bottoms</h3>
                    <ul data-role="listview">
                        <li>
                            <text>Pants</text>
                        </li>
                        <li>
                            <text>Jeans</text>
                        </li>
                        <li>
                            <text>Shorts</text>
                        </li>
                    </ul>
                </div>
                <!-- /collapsible -->
                <div data-role="collapsible">
                    <h3>Coat</h3>
                    <ul data-role="listview">
                        <li>
                            <text>Trench Coat</text>
                        </li>
                        <li>
                            <text>Blue Coat</text>
                            >
                        </li>
                        <li>
                            <text>Black Coat</text>
                        </li>
                    </ul>
                </div>
                <!-- /collapsible -->
            </div>
            <!-- /collapsible-set -->
        </div>
        <!-- /collapsible -->
    </div>

    <!--Right Panel-->
    <div data-role="panel" id="right-panel" data-display="overlay" data-position="right">
        <ul data-role="listview" data-icon="false">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li data-role="list-divider">Share this page</li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google +</a></li>
            <li><a href="#">Mail</a></li>
        </ul>
    </div>
    <div data-role="footer">
        <h4>Page Footer</h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->

</body>
</html>